<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:tx="http://www.springframework.org/schema/tx" 
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-4.0.xsd" >

	<!-- test mybaits -->
	<bean id="sqlSessionFactory_test" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="testDataSource"/>
		<property name="configLocation" value="classpath:mybatis-config.xml" />
		<property name="mapperLocations" value="classpath:mapper/test/*.xml" />
	</bean>	
	<bean id="transactionManager_test" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="testDataSource"/>
	</bean>	
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.dubbo.dcs.mapper.test" />
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory_test" />
	</bean>
	
	<tx:annotation-driven proxy-target-class="true" transaction-manager="transactionManager_test" />
    <!-- test mybaits end -->
</beans>
